/* Footer.css */
.footer {
  text-align: center;
}


.footer-hr{
  width:95%;
  box-align:center; 
  background-color:rgba(128, 128, 128, 0.277);
  height: 1px;
}

.button-footer{
  border:none;
  margin-left:2.5%;
  font-family: 'Lato', sans-serif; 
  font-weight: 600; 
  font-size: 24px; 
  background-color: #F0F8FF;
  margin-bottom: 2rem;
}