/* Footer.css */
.footer {
  text-align: center;
}


.footer-hr{
  border-top: 0px;
  width:95%;
  box-align:center; 
  background-color:rgba(128, 128, 128, 0.277);
  height: 1px;
}

.margin-footer{
  margin-top: 2vh;
}

@media only screen and (max-width: 850px) {
  
  .button-footer{
    border:none;
    margin-left:2.5%;
    font-family: 'Lato', sans-serif; 
    font-weight: 500; 
    font-size: 2vh; 
    background-color: #F0F8FF;
    margin-bottom: 2rem;
  }

}


@media only screen and (min-width: 851px) {
  
  .button-footer{
    border:none;
    margin-left:2.5%;
    font-family: 'Lato', sans-serif; 
    font-weight: 500; 
    font-size: 24px; 
    background-color: #F0F8FF;
    margin-bottom: 2rem;
  }
  
}