.HeatMapPage {
    background-color: #f0f8ff;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
}

.heat-map-instruction{
    width: 95%;
    height: auto;
    background-color: #dce6fa;
    border-radius: 8px;
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
    height: 77vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.heat-map-instruction-text{
    font-family: Lato, sans-serif;
    font-size: 3vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10vh;
    text-align: center;
}

.heat-map-instruction-with-loader{
    width: 95%;
    height: auto;
    background-color: #dce6fa;
    border-radius: 8px;
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
    height: 77vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heat-map-instruction-text-loader{
    font-family: Lato, sans-serif;
    font-size: 3vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10vh;
    text-align: center;
    padding-bottom: 0;
}


@media only screen and (max-width: 450px) {
    .heat-map-instruction{
        width: 90vw;
        height: auto;
        background-color: #dce6fa;
        border-radius: 8px;
        margin-top: 5vh;
        margin-left: 5vw;
        margin-right: 5vw;
        height: 77vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .heat-map-instruction-with-loader{
        width: 90vw;
        height: auto;
        background-color: #dce6fa;
        border-radius: 8px;
        margin-top: 5vh;
        margin-left: 5vw;
        margin-right: 5vw;
        height: 77vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}