.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Ustawia flex-grow na 1, aby zajmować dostępną przestrzeń */
}

.search-bar-and-results {
  flex-grow: 1; /* Ustawia flex-grow na 1, aby zajmować dostępną przestrzeń */
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1.5vh; /* Szerokość paska przewijania */
  height: 112px;
}
html::-webkit-scrollbar-thumb {
  background-color: #a1abbf; /* Kolor "kciuka" paska przewijania */
}

.home-description-second-title {
  width: 80vh;
}

.text {
  width: 50%;
  height: 3rem;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  background-color: white;
  display: flex;
  align-items: center;
  resize: none;
}
.results-container {
  position: relative;
}

.select-and-image {
  display: flex;
}
.language-select {
  margin-left: 40px;
  margin-top: 32px;
  width: 115px;
  height: 64px;
  background-color: #dce6fa;
}

.search-button {
  float: right;
}

.relative {
  position: relative;
}

.home-alarm {
  font-family: Lato;
  font-size: 2.5vh;
  font-weight: 600;
  line-height: 28.8px;
  position: absolute;
  margin-left: 4vw;
  margin-top: 1.5vh;
  color: #960606;
}

@media only screen and (max-width: 850px) {
  .home-alarm {
    font-family: Lato;
    font-size: 2vh;
    font-weight: 600;
    line-height: 28.8px;
    position: absolute;
    margin-left: 3vh;
    margin-top: 1vh;
    color: #960606;
  }
  .search-bar-container {
    flex: 1;
    display: flex;
    width: 100vw;
    height: 96px;
    min-width: 200px;
  }
  .logo_home {
    margin-left: 1.5vw;
    margin-top: 2.5vh;
    width: 64px;
    height: 6vh;
    border: none;
    background-color: #f0f8ff;
    border-radius: 8px;
  }
  .language-select-container {
    position: fixed;
    z-index: 100;
    margin: auto;
    display: flex;
    width: 200%;
    height: 10vh;
    background-color: #f0f8ff;
  }
  .home-container {
    height: 100vh;
    min-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: #f0f8ff;
    background-size: cover;
    background-position: center;
  }
  .home-description-title {
    max-width: 80vw;
    margin-top: 15vh;
    margin-left: 3vh;
    font-family: 'Lato', sans-serif;
    font-size: 3vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--primary, #24254c);
  }
  .home-description-second-title {
    max-width: 80vw;
    margin-top: 3vh;
    margin-left: 3vh;
    font-family: 'Lato', sans-serif;
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--primary, #24254c);
  }

  .home-description-third-title {
    max-width: 80vw;
    margin-top: 3vh;
    margin-left: 3vh;
    color: var(--primary, #24254c);
    font-family: 'Lato', sans-serif;
    font-size: 2vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

@media only screen and (min-width: 850px) {
  .search-bar-container {
    flex: 1;
    display: flex;
    width: 100vw;
    height: 96px;
    min-width: 200px;
  }
  .logo_home {
    margin-left: 2vw;
    margin-top: 4vh;
    height: 8vh;
    border: none;
    background-color: #f0f8ff;
    border-radius: 8px;
  }
  .language-select-container {
    position: fixed;
    z-index: 100;
    margin: auto;
    display: flex;
    width: 200%;
    height: 13vh;
    background-color: #f0f8ff;
  }
  .home-container {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f8ff;
    background-size: cover;
    background-position: center;
    min-width: 100vh;
  }
  .home-description-title {
    max-width: 80vh;
    margin-top: 16vh;
    margin-left: 5.5vh;
    font-family: 'Lato', sans-serif;
    font-size: 4vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--primary, #24254c);
  }
  .home-description-second-title {
    width: 70vh;
    margin-top: 3vh;
    margin-left: 5.5vh;
    font-family: 'Lato', sans-serif;
    font-size: 2.5vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--primary, #24254c);
  }

  .home-description-third-title {
    width: 70vh;
    margin-top: 5vh;
    margin-left: 5.5vh;
    color: var(--primary, #24254c);
    font-family: 'Lato', sans-serif;
    font-size: 3vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}