/* Dodaj do pliku styles.css lub odpowiedniego pliku ze stylami */

.Home {
  background-color: #eee;
  width: 100vw;
  height: 100vh;
}

.search-bar-container {
  flex: 1;
  display: flex;
  width: 100vw;
  height: 96px;
  min-width: 200px;
}

.how-it-works-container {
  display: flex;
  justify-content: center;
  flex-grow: 30;
}



.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Ustawia flex-grow na 1, aby zajmować dostępną przestrzeń */
}

.search-bar-and-results {
  flex-grow: 1; /* Ustawia flex-grow na 1, aby zajmować dostępną przestrzeń */
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1.5vh; /* Szerokość paska przewijania */
  height: 112px;
}
html::-webkit-scrollbar-thumb {
  background-color: #A1ABBF; /* Kolor "kciuka" paska przewijania */
}

.home-container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 200vh;
  /**/
  background-color: #F0F8FF;
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
}

.home-description-title{
  max-width: 100vh;
  margin-top: 21vh;
  margin-left: 5.5vh;
  font-family: 'Lato', sans-serif;
  font-size: 5vh;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--primary, #24254C);

}

.home-description-second-title{
  width: 80vh;
  margin-top: 4vh;
  margin-left: 5.5vh;
  font-family: 'Lato', sans-serif;
  font-size: 3vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--primary, #24254C);
}

.home-description-third-title{
  width: 70vh;
  margin-top:30vh;
  margin-left: 5.5vh;
  color: var(--primary, #24254C);
  font-family: 'Lato', sans-serif;
  font-size: 3vh;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

.text {
  width: 50%;
  height: 3rem;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  background-color: white;
  display: flex;
  align-items: center;
  resize: none;
}
.results-container {
  position: relative;
}

.language-select-container {
  position:fixed;
  z-index:100;
  /*margin-left: auto; /* Push the language select to the right */
  margin-left: 1.5%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: auto;
  display: flex;
  width: 200%;
  height: 13vh;
  background-color: #F0F8FF;
}

.logo {
  margin-left: 5vh;
  margin-top: 4vh;
  width: 115px;
  height: 8vh;
  border: none;
  background-color: #F0F8FF;
  border-radius: 8px;
}

.select-and-image {
  display: flex;
}
.language-select {
  margin-left: 40px;
  margin-top: 32px;
  width: 115px;
  height: 64px;
  background-color: #DCE6FA;
}

.search-button {
  float: right;
}


.home-search-result-list  {
  position: absolute;
  margin-left: 40px;
  margin-top: 128px;
  width: calc(100% - 80px);
  background-color: #DCE6FA;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; 
  max-height: 480px;
  overflow-y: auto;
  z-index: 999;
}


