/* HowItWorks.css */
.how-it-works {
    width: 100%; /* Adjust the width as per your design */
    margin: auto;
    margin-top: 20px; /* Add margin-top to create space between search results and HowItWorks */

  }
  
  h2 {
    color: #333;
  }
  
  .text {
    width: 40%;
    min-height: 150px;
    margin: auto;
    min-width: 200px;
    padding: 10px;
    font-size: 16px;
    color: #666;
    box-shadow: 0px 0px 8px #ddd;
    background-color: white;
    border-radius: 5px;
    display: flex;
    text-align: center;
  }
  