/* Leaflet Map Container */
.leaflet-container {
  width: 100%;
  height: 100%;
}

/* Leaflet Map Tiles */
.leaflet-tile {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

/* Leaflet Map Controls */
.leaflet-control {
  position: relative;
  z-index: 1000;
  pointer-events: auto;
}

/* Leaflet Map Popup */
.leaflet-popup {
  position: absolute;
  text-align: center;
  padding: 6px;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

/* Leaflet Map Marker */
.leaflet-marker-icon {
  width: 25px;
  height: 41px;
}

/* Leaflet Map Marker Icon */
.leaflet-marker-icon img {
  width: 100%;
  height: 100%;
}
