/* Leaflet Map Container */
.leaflet-container {
  width: 130%;
  height: 200%;
  margin-top: 4vh;
  margin-left: 3vh;
}
/* Leaflet Map Tiles */
.leaflet-tile {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

/* Leaflet Map Controls */
.leaflet-control {
  position: relative;
  z-index: 1000;
  pointer-events: auto;
}

/* Leaflet Map Popup */
.leaflet-popup {
  position: absolute;
  background-color: #fff;
}

/* Leaflet Map Marker */
.leaflet-marker-icon {
  width: 25px;
  height: 41px;
}

/* Leaflet Map Marker Icon */
.leaflet-marker-icon img {
  width: 100%;
  height: 100%;
}


@media only screen and (max-width: 1300px) {
  .leaflet-container {
    width: 130%;
    height: 200%;
    margin-top: 2vh;
    margin-left: 3vh;
  }
}


@media only screen and (max-width: 800px) {
  .leaflet-container {
    width: 130%;
    height: 200%;
    margin-top: 1vh;
    margin-left: 1vh;
  }

}