.markerContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.markerContainer:hover {
  z-index: 2;
}

.markerSquare {
  width: 30px; /* Dostosuj szerokość kwadratu */
  height: 30px; /* Dostosuj wysokość kwadratu */
  background-color: #ffffff; /* Kolor tła kwadratu */
  border: 2px solid #000000; /* Grubość i kolor obramowania kwadratu */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px; /* Zaokrąglij rogi kwadratu */
}

#fast-food-marker {
  color: rgb(255, 0, 0);
}
#doctor-marker {
  color: rgb(0, 13, 255);
}
#drugstore-marker {
  color: rgb(0, 204, 255);
}
#grocery-store-marker {
  color: rgb(17, 255, 0);
}
#map-coordinates-marker {
  color: rgb(255, 0, 0);
}

#bank-marker {
  color: rgb(53, 37, 197);
}
#bar-marker {
  color: rgb(21, 255, 71);
}
#cafe-marker {
  color: rgb(162, 106, 0);
}
#restaurant-marker {
  color: rgb(254, 126, 87);
}
#school-marker {
  color: rgb(70, 255, 107);
}

#theatre-marker {
  color: rgb(13, 0, 128);
}
#police-marker {
  color: rgb(0, 1, 68);
}
