.roles-container {
  margin: auto;
  padding: 15px;
  background-color: #DCE6FA;
  overflow-y: scroll;
  height: 45vh;
  margin-left: 40px;
}
/* Dodaj te style w swoim arkuszu stylów CSS */
.roles-container::-webkit-scrollbar {
  width: 8px; /* Szerokość paska przewijania */
  height: 112px;
}

.roles-container::-webkit-scrollbar-thumb {
  background-color: #A1ABBF; /* Kolor "kciuka" paska przewijania */
}
/*
.roles-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}

.roles-container::-webkit-scrollbar-thumb:hover {
  background-color: #8a8a8a; 
}
*/
.homeStyle {
  background-color: rgba(255, 255, 255, 0.952);
}
.all-categories {
  margin: 0px; /* Adjust the margin as needed */
  margin-bottom: 10px;
}
.roles-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
  color: #666666; /* Szary kolor dla eleganckiego wyglądu */
}

.category-container {
  margin-bottom: 40px;
}

.category-label {
  font-family: Lato, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.category-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 3px;
  margin-right: 40px;
}

.expand-button{
  background-color: #DCE6FA;
  border:none;
  cursor: pointer;
  margin-right:2px;
  width:40px;
  height: 40px;
}

.category-checkbox-on{
  width: 24px; /* szerokość i wysokość SVG */
  height: 24px;
}

.centered-header {
  display: inline-block;
  border-radius: 7px;
  padding: 6px;
  cursor: pointer;
}


.centered-category {
  box-shadow: 0px 0px 8px #afafaf;
  display: inline-block;
  border-radius: 7px;
  padding-top: 6px;
  padding-left: 13px;
  padding-right: 5px;
  padding-bottom: 1px;
  margin-bottom: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.font-size-category {
  font-size: 20px;
}

.role-option {
  margin-top: 5px;
  /* Dodaj styl poniżej, aby dostosować wielkość tekstu w etykiecie */
  & .MuiFormControlLabel-label {
    font-size: 11px; /* Wielkość tekstu w etykiecie */
  }
}

.role-checkbox {
  margin-left: 100px; /* Adjust the margin as needed */
}

.roles-section {
  display: flex;
  justify-content: space-around;
  width: 100%; /* Dostosuj szerokość według potrzeb */
}
.roles-column {
  display: flex;
  flex-direction: column;
  align-items: center; /* Wyśrodkuj zawartość w kolumnie */
}

.preferences-column {
  flex-wrap: wrap;
}
.preferences-checkbox {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-left: 33px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #DCE6FA;
}

.preferences-label{
  font-family: Lato, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 44px;

}

.filters-label{
  font-family: Lato, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 30px;
}

.selected-search-preferences{
  display: inline-flex;
  flex-wrap: wrap;

}

.selected-search-preference{
  display: inline-flex;
  margin:5px;
  padding: 13px 12px;
  align-items: center;
  gap: 27px;
  border-radius: 16px;
  border: 1px solid var(--font-light-background, #101720);
  background: var(--secondary-80, #DCE6FA);
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.search-place-hr{
  margin-left:30px;
  margin-right: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color:#CDCDCD;
  height: 1px;
}

.hr-place{
  margin-left:40px;
  background-color: #DCE6FA;
}

.delete-all{
  height: 120px;
  margin-left: 40px;
  margin-bottom: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; 
  background-color: #DCE6FA;
  border: none;
  display: flex;
  justify-content: space-between;
}


.clear-all{
  margin-left: 24px;
  margin-top: 45px;
  margin-bottom: 40px;
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.close-icon{
  cursor: pointer;
}

.toggle-left-section{
  color: #F0F8FF;
  padding: 17px 8px;
  padding-left: 32px;
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  background: var(--primary, #24254C);
  cursor: pointer;
}

.toggle-left-section-icon{
  width:32px;
  height:32px;
  position: absolute;
  color:#F8718A;
  margin-bottom: 3px;
  cursor: pointer;


}

.toggle-left-section-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  padding: 24px 24px;
  height: 100%;

}



/* Dodaj do arkusza stylów */
.expandable .expand-icon {
  display: block;
}

.expandable.collapsed .preferences-checkbox {
  display: none;
}

.expandable.expanded .preferences-checkbox {
  display: flex;
}

.expandable .expand-icon {
  display: none;
  cursor: pointer;
}

.toggle-button-expanded {
  background-color: rgba(255, 255, 255, 0.258);
  border: none;
  padding: 0 8px;
  cursor: pointer;
  align-items: center;
  height: auto;
}

.search-bar-place{
  height:88px;
  width: 50%;
  margin-top: 15.81px;
}

/* Dla ekranów o szerokości do 600px (np. smartfony) */
@media only screen and (max-width: 600px) {
  .preferences-column {
    display: block;
  }
}

/* Dla ekranów o szerokości powyżej 600px (np. komputery) */
@media only screen and (min-width: 601px) {
  .preferences-column {
    justify-content: space-around;
  }
}

