.roles-container {
  width: 95%;
  margin: auto;
  margin-top: 5px;
  box-shadow: 0px 0px 8px #ddd;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}

.roles-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
  color: #666666; /* Szary kolor dla eleganckiego wyglądu */
}

.centered-header {
  text-align: center;
}

.role-option {
  margin-top: 5px;
  /* Dodaj styl poniżej, aby dostosować wielkość tekstu w etykiecie */
  & .MuiFormControlLabel-label {
    font-size: 16px; /* Wielkość tekstu w etykiecie */
  }
}

.role-checkbox {
  margin-left: 100px; /* Adjust the margin as needed */
}

.roles-section {
  display: flex;
  justify-content: space-around;
  width: 100%; /* Dostosuj szerokość według potrzeb */
}
.roles-column {
  display: flex;
  flex-direction: column;
  align-items: center; /* Wyśrodkuj zawartość w kolumnie */
}

.preferences-column {
  display: flex;
  align-items: flex-start; /* Align items to the start of the container */
  justify-content: flex-start; /* Justify content to the start of the container */ /* Wyśrodkuj zawartość w kolumnie */
  flex-wrap: wrap;
}
