.roles-container {
  margin: auto;
  padding: 15px;
  background-color: #dce6fa;
  overflow-y: scroll;
  height: 46.5vh;
  margin-left: 5vh;
  overflow-x: hidden;
}

/* Dodaj te style w swoim arkuszu stylów CSS */
.roles-container::-webkit-scrollbar {
  width: 8px; /* Szerokość paska przewijania */
  height: 112px;
}

.roles-container::-webkit-scrollbar-thumb {
  background-color: #a1abbf; /* Kolor "kciuka" paska przewijania */
}
/*
.roles-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}

.roles-container::-webkit-scrollbar-thumb:hover {
  background-color: #8a8a8a; 
}
*/
.all-categories {
  margin: 0px; /* Adjust the margin as needed */
  margin-bottom: 10px;
}
.roles-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
  color: #666666; /* Szary kolor dla eleganckiego wyglądu */
}

.category-container {
  margin-bottom: 40px;
}

.category-label {
  font-family: Lato, sans-serif;
  font-size: 3.3vh;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 3px;
  margin-right: 30px;
}

.expand-button {
  background-color: #dce6fa;
  border: none;
  cursor: pointer;
  margin-right: 2px;
  width: 40px;
  height: 40px;
}

.category-checkbox-on {
  width: 24px; /* szerokość i wysokość SVG */
  height: 24px;
}

.centered-header {
  display: inline-block;
  border-radius: 7px;
  padding: 6px;
  cursor: pointer;
}

.centered-category {
  box-shadow: 0px 0px 8px #afafaf;
  display: inline-block;
  border-radius: 7px;
  padding-top: 6px;
  padding-left: 13px;
  padding-right: 5px;
  padding-bottom: 1px;
  margin-bottom: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.font-size-category {
  font-size: 20px;
}

.role-option {
  margin-bottom: 0vh;
  /* Dodaj styl poniżej, aby dostosować wielkość tekstu w etykiecie */
  & .MuiFormControlLabel-label {
    font-size: 2vh; /* Wielkość tekstu w etykiecie */
  }
}

.role-checkbox {
  margin-left: 100px; /* Adjust the margin as needed */
}

.roles-section {
  display: flex;
  justify-content: space-around;
  width: 100%; /* Dostosuj szerokość według potrzeb */
}
.roles-column {
  display: flex;
  flex-direction: column;
  align-items: center; /* Wyśrodkuj zawartość w kolumnie */
}

.preferences-column {
  flex-wrap: wrap;
}
.preferences-checkbox {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-left: 33px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #dce6fa;
}

.preferences-label {
  font-family: Lato, sans-serif;
  font-size: 3.3vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.filters-label {
  font-family: Lato, sans-serif;
  font-size: 4vh;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 4vh;
}

.filters-label-explain{
  font-family: Lato, sans-serif;
  font-size: 2.5vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #99A0A9;
  margin-bottom: 2vh;
}

.selected-search-preferences {
  display: inline-flex;
  flex-wrap: wrap;
}

.selected-search-preference {
  cursor: pointer;
  display: inline-flex;
  margin: 5px;
  padding: 13px 12px;
  align-items: center;
  gap: 27px;
  border-radius: 16px;
  border: 1px solid var(--font-light-background, #3044CA);
  background: var(--secondary-80, #dce6fa);
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.search-place-hr {
  border-top: 0px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #cdcdcd;
  height: 1px;
}

.hr-place {
  margin-left: 5vh;
  background-color: #dce6fa;
}

.delete-all {
  width: auto;
  height: 14vh;
  margin-left: 5vh;
  margin-bottom: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #dce6fa;
  border: none;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
}

.clear-all {
  margin-left: 3vh;
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  cursor: pointer;
}

.toggle-left-section {
  color: #f0f8ff;
  padding: 2.125vh 1vh;
  padding-left: 32px;
  font-family: Lato, sans-serif;
  font-size: 3vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  background: var(--primary, #24254c);
  cursor: pointer;
  white-space: nowrap; /* Zapobiega zawijaniu tekstu */
}

.toggle-left-section-icon {
  width: 32px;
  height: 32px;
  position: absolute;
  color: #f8718a;
  margin-bottom: 3px;
  cursor: pointer;
}

.toggle-left-section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  padding: 24px 24px;
  height: 100%;
}

/* Dodaj do arkusza stylów */
.expandable .expand-icon {
  display: block;
}

.expandable.collapsed .preferences-checkbox {
  display: none;
}

.expandable.expanded .preferences-checkbox {
  display: flex;
}

.expandable .expand-icon {
  display: none;
  cursor: pointer;
}

.toggle-button-expanded {
  background-color: rgba(255, 255, 255, 0.258);
  border: none;
  padding: 0 8px;
  cursor: pointer;
  align-items: center;
  height: auto;
}

.search-bar-place {
  height: 88px;
  width: 50%;
  margin-top: 15.81px;
}

.expand-icon {
  font-size: 24px;
}

.category-checkbox-off {
  width: 3vh; /* szerokość i wysokość SVG */
  height: 3vh;
  border-color: #24254c;
  border: 2px;
  border-style: solid;
  border-radius: 3px;
  margin-left: 2vh;
  margin-top: 0.3vh;
}

.category-checkbox-on {
  width: 3vh; /* szerokość i wysokość SVG */
  height: 3vh;
  background-color: #24254c;
  border: 2px solid #24254c;
  border-style: solid;
  border-radius: 3px;
  margin-left: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.3vh;
}

.category-check {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('Check-Thin--Streamline-Nova.svg');
  width: 1.8vh;
  height: 1.8vh;
  background-size: cover;
  filter: invert(100%);
  margin: 0 auto; /* Dodałem marginesy poziome */
  margin-top: 0.3vh;
}
.choose-criteria-mobile-div-roles {
  width: calc(100% - 2vw);
  margin-left: 2vw;
  height: 8vh;
  background-color: #dce6fa;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dla ekranów o szerokości do 600px (np. smartfony) */
@media only screen and (max-width: 600px) {
  .preferences-column {
    display: block;
  }
}

/* Dla ekranów o szerokości powyżej 600px (np. komputery) */
@media only screen and (min-width: 601px) {
  .preferences-column {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 1300px) {
  .category-label {
    font-family: Lato, sans-serif;
    font-size: 3vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .preferences-label {
    font-family: Lato, sans-serif;
    font-size: 3vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .category-checkbox-off {
    width: 2.2vh; /* szerokość i wysokość SVG */
    height: 2.2vh;
    border-color: #24254c;
    border: 2px;
    border-style: solid;
    border-radius: 3px;
    margin-left: 2vh;
    margin-top: 0.3vh;
  }

  .category-checkbox-on {
    width: 2.2vh; /* szerokość i wysokość SVG */
    height: 2.2vh;
    background-color: #24254c;
    border: 2px solid #24254c;
    border-style: solid;
    border-radius: 3px;
    margin-left: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.3vh;
  }

  .category-check {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('Check-Thin--Streamline-Nova.svg');
    width: 1.6vh;
    height: 1.6vh;
    background-size: cover;
    filter: invert(100%);
    margin: 0 auto; /* Dodałem marginesy poziome */
    margin-top: 0.2vh;
  }

  .clear-all {
    margin-left: 3vh;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .toggle-left-section {
    color: #f0f8ff;
    padding: 2.125vh 1vh;
    padding-left: 32px;
    font-family: Lato, sans-serif;
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    background: var(--primary, #24254c);
    cursor: pointer;
  }
  .roles-container {
    margin: auto;
    padding: 15px;
    background-color: #dce6fa;
    overflow-y: scroll;
    height: 48.5vh;
    margin-left: 2vh;
    overflow-x: hidden;
  }
  .roles-content.expanded {
    height: 100%;
  }

  .roles-content.collapsed {
    height: 50px;
  }
  .roles-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: height 0.3s;
  }
  .roles-container-small {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50vh;
    background: white;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
  }
  .custom-checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
  }
  .preferences-checkbox {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-left: 23px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #dce6fa;
  }
  .hr-place {
    margin-left: 2vh;
    background-color: #dce6fa;
  }
  .delete-all {
    width: auto;
    height: 14vh;
    margin-left: 2vh;
    margin-bottom: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #dce6fa;
    border: none;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

@media only screen and (max-width: 800px) {
  .selected-search-preference {
    display: inline-flex;
    margin: 3px;
    padding: 13px 12px;
    align-items: center;
    gap: 15px;
    border-radius: 16px;
    border: 1px solid var(--font-light-background, #101720);
    background: var(--secondary-80, #dce6fa);
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .roles-container {
    margin: auto;
    padding: 15px;
    background-color: #dce6fa;
    overflow-y: scroll;
    height: 54.5vh;
    margin-left: 1vh;
    overflow-x: hidden;
  }
  .custom-checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
  }
  .category-label {
    font-family: Lato, sans-serif;
    font-size: 2.5vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .preferences-label {
    font-family: Lato, sans-serif;
    font-size: 2.5vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 0px;
  }
  .preferences-checkbox {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-left: 13px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #dce6fa;
  }
  .hr-place {
    margin-left: 1vh;
    background-color: #dce6fa;
  }
  .delete-all {
    width: auto;
    height: 14vh;
    margin-left: 1vh;
    margin-bottom: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #dce6fa;
    border: none;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .filters-label {
    font-family: Lato, sans-serif;
    font-size: 2.5vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
  }
  .filters-label-explain{
    font-family: Lato, sans-serif;
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #99A0A9;
    margin-bottom: 1vh;
  }

  .category-container {
    margin-bottom: 20px;
  }
  .category-checkbox-off {
    width: 2vh; /* szerokość i wysokość SVG */
    height: 2vh;
    border-color: #24254c;
    border: 2px;
    border-style: solid;
    border-radius: 3px;
    margin-left: 2vh;
    margin-top: 0vh;
  }

  .category-checkbox-on {
    width: 2vh; /* szerokość i wysokość SVG */
    height: 2vh;
    background-color: #24254c;
    border: 2px solid #24254c;
    border-style: solid;
    border-radius: 3px;
    margin-left: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0vh;
  }

  .category-check {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('Check-Thin--Streamline-Nova.svg');
    width: 1.2vh;
    height: 1.2vh;
    background-size: cover;
    filter: invert(100%);
    margin: 0 auto; /* Dodałem marginesy poziome */
    margin-top: 0.2vh;
  }
}

@media only screen and (max-width: 600px) {
  .selected-search-preference {
    display: inline-flex;
    margin: 2px;
    padding: 13px 12px;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    border: 1px solid var(--font-light-background, #101720);
    background: var(--secondary-80, #dce6fa);
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .clear-all {
    margin-left: 2vh;
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .toggle-left-section {
    color: #f0f8ff;
    padding: 2.125vh 1vh;
    padding-left: 3vh;
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    background: var(--primary, #24254c);
    cursor: pointer;
  }
  .toggle-left-section-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    color: #f8718a;
    margin-bottom: 3px;
    cursor: pointer;
  }
  .roles-container {
    margin: auto;
    padding: 10px;
    background-color: #dce6fa;
    overflow-y: scroll;
    height: 54.5vh;
    margin-left: 1vh;
    overflow-x: hidden;
  }
  .custom-checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
  }
  .category-label {
    font-family: Lato, sans-serif;
    font-size: 1.5vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 0.9vh;
  }
  .preferences-label {
    font-family: Lato, sans-serif;
    font-size: 1.5vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 10px;
  }
  .preferences-checkbox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 8px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: #dce6fa;
  }
  .hr-place {
    margin-left: 1vh;
    background-color: #dce6fa;
  }
  .delete-all {
    width: auto;
    height: 14vh;
    margin-left: 1vh;
    margin-bottom: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #dce6fa;
    border: none;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .filters-label {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 8px;
  }

  .category-container {
    margin-bottom: 15px;
  }

  .expand-button {
    background-color: #dce6fa;
    border: none;
    cursor: pointer;
    margin-right: 0px;
    width: 20px;
    height: 20px;
  }
  .expand-icon {
    font-size: 12px;
  }
  .category-checkbox-off {
    width: 2vh; /* szerokość i wysokość SVG */
    height: 2vh;
    border-color: #24254c;
    border: 2px;
    border-style: solid;
    border-radius: 3px;
    margin-left: 2vh;
    margin-top: 0vh;
    margin-bottom: 0.2vh;
  }

  .category-checkbox-on {
    width: 2vh; /* szerokość i wysokość SVG */
    height: 2vh;
    background-color: #24254c;
    border: 2px solid #24254c;
    border-style: solid;
    border-radius: 3px;
    margin-left: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0vh;
  }

  .category-check {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('Check-Thin--Streamline-Nova.svg');
    width: 1.2vh;
    height: 1.2vh;
    background-size: cover;
    filter: invert(100%);
    margin: 0 auto; /* Dodałem marginesy poziome */
    margin-top: 0.2vh;
  }
}
@media only screen and (max-width: 450px) {
  .selected-search-preference {
    display: inline-flex;
    margin: 0.4vh;
    padding: 1vh 1vh;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    border: 1px solid var(--font-light-background, #101720);
    background: var(--secondary-80, #dce6fa);
    font-family: Lato, sans-serif;
    font-size: 1.5vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .clear-all {
    margin-left: 2vh;
    font-family: Lato, sans-serif;
    font-size: 1.5vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .toggle-left-section {
    color: #f0f8ff;
    padding: 1.625vh 1vh;
    padding-left: 2.5vh;
    font-family: Lato, sans-serif;
    font-size: 1.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    background: var(--primary, #24254c);
    cursor: pointer;
  }
  .toggle-left-section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
    padding: 2vh 1.5vh;
    height: 100%;
  }
  .toggle-left-section-icon {
    width: 2.5vh;
    height: 2.5vh;
    position: absolute;
    color: #f8718a;
    margin-bottom: 5px;
    cursor: pointer;
  }
  .roles-container {
    margin: auto;
    padding: 6px;
    background-color: #dce6fa;
    overflow-y: scroll;
    height: 58.5vh;
    margin-left: 2vw;
    overflow-x: hidden;
  }
  .custom-checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .category-checkbox-off {
    width: 2.5vh; /* szerokość i wysokość SVG */
    height: 2.5vh;
    border-color: #24254c;
    border: 2px;
    border-style: solid;
    border-radius: 3px;
    margin-left: 2vh;
    margin-top: 0vh;
    margin-bottom: 0vh;
  }

  .category-checkbox-on {
    width: 2.5vh; /* szerokość i wysokość SVG */
    height: 2.5vh;
    background-color: #24254c;
    border: 2px solid #24254c;
    border-style: solid;
    border-radius: 3px;
    margin-left: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0vh;
  }

  .category-check {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('Check-Thin--Streamline-Nova.svg');
    width: 1.5vh;
    height: 1.5vh;
    background-size: cover;
    filter: invert(100%);
    margin: 0 auto; /* Dodałem marginesy poziome */
    margin-top: 0.2vh;
  }

  .category-label {
    font-family: Lato, sans-serif;
    font-size: 2vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .preferences-label {
    font-family: Lato, sans-serif;
    font-size: 2vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 2.5vw;
    margin-top: 2.5vw;
  }
  .preferences-checkbox {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-left: 6px;
    margin-bottom: 3px;
    border-radius: 10px;
    background-color: #dce6fa;
  }
  .hr-place {
    margin-left: 2vw;
    background-color: #dce6fa;
  }
  .delete-all {
    width: auto;
    height: 8vh;
    margin-left: 2vw;
    margin-bottom: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #dce6fa;
    border: none;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .filters-label {
    font-family: Lato, sans-serif;
    font-size: 2vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1vh;
    margin-left: 1vh;
  }
  .filters-label-explain{
    font-family: Lato, sans-serif;
    font-size: 1.5vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #99A0A9;
    margin-bottom: 1vh;
    margin-left: 1vh;
  }


  .category-container {
    margin-bottom: 1.2vh;
  }

  .expand-button {
    background-color: #dce6fa;
    border: none;
    cursor: pointer;
    margin-right: 0px;
    width: 3vh;
    height: 3vh;
  }
  .expand-icon {
    font-size: 2vh;
  }
  .close-icon {
    cursor: pointer;
    width: 2vh;
    height: 2vh;
  }
}
