.input-wrapper {
  width: calc(100% - 80px);
  height: 96px;
  border-radius: 8px;
  padding: 0 15px;
  background-color: #DCE6FA;
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 32px;
}

.input-wrapper input::placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.input-wrapper input {
  font-family: 'Lato', sans-serif; 
  font-weight: 400; 
  font-size: 24px; 
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
}

input:focus {
  outline: none;
}
