.roles-search-bar {
  width: calc(100% - 5vh);
  height: 11vh;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0 24px;
  background-color: #dce6fa;
  display: flex;
  align-items: center;
  margin-left: 5vh;
  margin-top: 4vh;
}

.roles-search-bar input::placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #99a0a9;
}

.roles-search-bar input {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
}

input:focus {
  outline: none;
}

.show-data-button {
  background-color: #dce6fa;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
#search-icon {
  color: #f8718a;
  height: 32px;
  width: 32px;
}

@media only screen and (max-width: 1300px) {
  .roles-search-bar input::placeholder {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #99a0a9;
  }

  .roles-search-bar input {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 16px;
    width: 100%;
    margin-left: 5px;
  }
  #search-icon {
    color: #f8718a;
    height: 3vh;
    width: 3vh;
  }
  .roles-search-bar {
    width: calc(100% - 2vh);
    height: 11vh;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0 24px;
    background-color: #dce6fa;
    display: flex;
    align-items: center;
    margin-left: 2vh;
    margin-top: 2vh;
  }
}
@media only screen and (max-width: 800px) {
  .roles-search-bar {
    width: calc(100% - 1vh);
    height: 7vh;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0 12px;
    background-color: #dce6fa;
    display: flex;
    align-items: center;
    margin-left: 1vh;
    margin-top: 1vh;
  }
}

@media only screen and (max-width: 600px) {
  .roles-search-bar input::placeholder {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #99a0a9;
  }

  .roles-search-bar input {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2vh;
  }
  input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 2vh;
    width: 100%;
    margin-left: 3px;
  }
  #search-icon {
    color: #f8718a;
    height: 2vh;
    width: 2vh;
  }
  .roles-search-bar {
    width: calc(100% - 1vh);
    height: 7vh;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0 8px;
    background-color: #dce6fa;
    display: flex;
    align-items: center;
    margin-left: 1vh;
    margin-top: 1vh;
  }
}

@media only screen and (max-width: 450px) {
  .roles-search-bar input::placeholder {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1vh;
    color: #99a0a9;
  }

  .roles-search-bar input {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.5vh;
  }
  input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.5vh;
    width: 100%;
    margin-left: 2px;
  }
}
