
.input-wrapper input::placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #99A0A9;
}

.border-bottom{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
}

input:focus {
  outline: none;
}

@media only screen and (max-width: 850px) {
  .input-wrapper {
    width: calc(100vw - 6vh);
    height: 7vh;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0 24px;
    background-color: #DCE6FA;
    display: flex;
    align-items: center;
    margin-left: 3vh;
    margin-top: 5vh;
  }
  .input-wrapper input {
    font-family: 'Lato', sans-serif; 
    font-weight: 400; 
    font-size: 2vh; 
  }
  .input-wrapper input::placeholder {
    font-family: 'Lato', sans-serif; 
    font-weight: 400; 
    font-size: 2vh; 
  }
  .border-bottom{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

@media only screen and (min-width: 851px) {
  .home-searchBar {
    width: calc(100% - 10vh);
    height: 9vh;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; 
    padding: 0 24px;
    background-color: #DCE6FA;
    display: flex;
    align-items: center;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 6vh;
  }

  .input-wrapper input {
    font-family: 'Lato', sans-serif; 
    font-weight: 400; 
    font-size: 3vh; 
  }
  .border-bottom{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
