.roles-search-result-list {
  position: absolute;
  margin-left: 5vh;
  width: calc(100% - 5vh);
  background-color: #dce6fa;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  max-height: 60vh;
  overflow-y: auto;
  z-index: 999;
  box-shadow: 0px 9px 30px 0px rgba(46, 54, 61, 0.15);
}

.roles-search-result-list::-webkit-scrollbar {
  width: 8px; /* Szerokość paska przewijania */
  height: 112px;
}

.roles-search-result-list::-webkit-scrollbar-thumb {
  background-color: #a1abbf; /* Kolor "kciuka" paska przewijania */
}

@media only screen and (max-width: 1300px) {
  .roles-search-result-list {
    position: absolute;
    margin-left: 2vh;
    width: calc(100% - 2vh);
    background-color: #dce6fa;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    max-height: 480px;
    overflow-y: auto;
    z-index: 999;
  }
}

@media only screen and (max-width: 800px) {
  .roles-search-result-list {
    position: absolute;
    margin-left: 1vh;
    width: calc(100% - 1vh);
    background-color: #dce6fa;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    max-height: 480px;
    overflow-y: auto;
    z-index: 999;
  }
}

@media only screen and (max-width: 450px) {
  .roles-search-result-list {
    position: absolute;
    margin-left: 2vw;
    width: calc(100% - 2vw);
    background-color: #dce6fa;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    max-height: 480px;
    overflow-y: auto;
    z-index: 999;
  }
}