.input-wrapper input::placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #99a0a9;
}

.border-bottom {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
}

input:focus {
  outline: none;
}
.search-bar-with-alarm {
  display: flex;
}

#error-outline-button {
  color: #960606;
  height: 5vh;
  width: 4vw;
  margin-top: 3.5vh;
  margin-left: 0.5vw;
}

@media only screen and (max-width: 1100px) {
  #error-outline-button {
    color: #960606;
    height: 4vh;
    width: 3vw;
    margin-top: 4vh;
    margin-left: 1vw;
  }
}

@media only screen and (max-width: 800px) {
  #error-outline-button {
    color: #960606;
    height: 3vh;
    width: 4vw;
    margin-top: 3.5vh;
    margin-left: 1.5vw;
  }

  .input-wrapper {
    width: calc(100vw - 6vh);
    height: 7vh;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0 calc(2vh - 2px);
    background-color: #dce6fa;
    display: flex;
    align-items: center;
    margin-left: 3vh;
    margin-top: 3vh;
  }

  .compare-window-search-bar {
    position: relative;
    width: calc(100% - 4vw);
    height: 6vh;
    border-radius: 8px;
    padding: 0 3vh;
    background-color: #dce6fa;
    display: flex;
    align-items: center;
    margin-left: 2vw;
    margin-top: 2vh;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .input-wrapper input {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2vh;
  }
  .input-wrapper input::placeholder {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2vh;
  }
  .border-bottom {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

@media only screen and (min-width: 800px) {
  .compare-window-search-bar {
    position: relative;
    width: calc(100% - 4vw);
    height: 8vh;
    border-radius: 8px;
    padding: 0 3vh;
    background-color: #dce6fa;
    display: flex;
    align-items: center;
    margin-left: 2vw;
    margin-top: 2vh;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .compare-window-search-bar input {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 3vh;
  }
  .compare-window-search-bar input::placeholder {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 3vh;
  }

  .home-searchBar {
    width: calc(100% - 35vw);
    height: 9vh;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0 calc(3vh - 2px);
    background-color: #dce6fa;
    display: flex;
    align-items: center;
    margin-left: 3vw;
    margin-top: 6vh;
  }

  .input-wrapper input {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 3vh;
  }
  .border-bottom {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

@media only screen and (max-width: 500px) {
  #error-outline-button {
    color: #960606;
    height: 3vh;
    width: 4vw;
    margin-top: 3.5vh;
    margin-left: 3vw;
  }
}
