.roles-search-result-list {
    position: absolute;
    margin-left: 40px;
    width: calc(50% - 64px);
    background-color: #DCE6FA;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; 
    max-height: 480px;
    overflow-y: auto;
    z-index: 999;
  }
  