.home-search-list {
  padding: 3.77vh 3vh;
  font-family: 'Lato', sans-serif;
  font-size: 3vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-search-list:hover {
  background-color: #bcc6da;
}

.show-data-page-search-list {
  padding: 3.77vh 3vh;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.show-data-page-search-list:hover {
  background-color: #bcc6da;
}

.compare-window-search-list{
  padding: 2.27vh 3vh;
  font-family: 'Lato', sans-serif;
  font-size: 3vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.compare-window-search-list:hover {
  background-color: #bcc6da;
}

@media only screen and (max-width: 850px) {
  .home-search-list {
    padding: 2.5vh 3vh;
    font-family: 'Lato', sans-serif;
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media only screen and (min-width: 851px) {
  .home-search-list {
    padding: 2.77vh 3vh;
    font-family: 'Lato', sans-serif;
    font-size: 3vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media only screen and (max-width: 800px) {
  .compare-window-search-list{
    padding: 1.7vh 3vh;
    font-family: 'Lato', sans-serif;
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .show-data-page-search-list {
    padding: 1.7vh 2vh;
    font-family: 'Lato', sans-serif;
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
