.show-data-button {
  background-color: #DCE6FA;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}


@media only screen and (max-width: 850px) {
  #search-icon-button {
    color: #F8718A;
    height:3vh;
    width:3vh;
  }
  
}

@media only screen and (min-width: 851px) {
  #search-icon-button {
    color: #F8718A;
    height:4vh;
    width:4vh;
  }
  
}
